## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Node
node_modules/

## Build output (Vite)
src/Umbraco.Community.RazorSearch/wwwroot/App_Plugins/

## Umbraco
**/umbraco/Data/
**/umbraco/Logs/
**/umbraco/mediacache/
**/umbraco/tmp/

## OS files
.DS_Store
Thumbs.db
appsettings-schema.json
appsettings-schema.*.json
src/Umbraco.Community.RazorSearch/umbraco-package-schema.json
